-cc=vbccm68k -quiet %s -o=%s %s -O=%ld
-ccv=vbccm68k %s -o=%s %s -O=%ld
-as=vasmm68k_mot -Felf -quiet -nosym  -spaces -m68060 %s -o %s
-asv=vasmm68k_mot -Felf -nosym -spaces -m68060 %s -o %s
-rm=rm -f %s
-rmv=rm %s
-ld=vlink -Bstatic -Cvbcc -nostdlib %s %s -o %s
-l2=vlink -Bstatic -Cvbcc -nostdlib %s %s -o %s
-ldv=vlink -Bstatic -Cvbcc -nostdlib %s %s -o %s
-l2v=vlink -Bstatic -Cvbcc -nostdlib %s %s -o %s
-ldnodb=-s
-ul=l%s
-cf=-F%s
-ml=1000
