-cc=vbccm68k -quiet -hunkdebug %s -o=%s %s -O=%ld
-ccv=vbccm68k -hunkdebug %s -o=%s %s -O=%ld
-as=vasmm68k_mot -quiet -Fhunk %s -o %s
-asv=vasmm68k_mot -Fhunk %s -o %s
-rm=rm -f %s
-rmv=rm %s
-ld=vlink -Bstatic -Cvbcc -nostdlib %s %s -o %s
-l2=vlink -Bstatic -Cvbcc -nostdlib %s %s -o %s
-ldv=vlink -Bstatic -Cvbcc -nostdlib %s %s -o %s
-l2v=vlink -Bstatic -Cvbcc -nostdlib %s %s -o %s
-ldnodb=-s
-ul=l%s
-cf=-F%s
-ml=1000
